.centred{
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    zoom: 2;
}

table {
    border-collapse: collapse;
    font-size: 20px;

    td, th {
        border: 1px solid #CCC;
        padding: 0.5rem;
    }
}

.pagination {
    margin-top: 1rem;
    zoom: 1.5;
}